---
export const prerender = false;
import AthleteTable from "../components/Table";
import LargeChart from "../components/Chart";
import ImageGallery from "../components/ImageGallery";
import LongTextContent from "../components/LongText";
import DynamicList from "../components/DynamicList";
import Layout from "../layouts/Layout.astro";

import styles from "./page.module.css";
let olympicsResp = await fetch(
   "http://localhost:3001/dummy-table-data",
);
let olympicsData = await olympicsResp.json();
const athleteData = olympicsData.data;
const now = new Date();
const currentDateTime = now.toLocaleString();
---

<Layout>
   <div class="astro-home">
      <p>CURRENT TIME: {currentDateTime}</p>
      <AthleteTable initialSectorRow={athleteData} />
      <LargeChart client:visible />
      <ImageGallery />
      <LongTextContent />
      <DynamicList client:visible />
   </div>
</Layout>
