---
export const prerender = false;
import SectorTable from "../components/Table";
import LargeChart from "../components/Chart";
import ImageGallery from "../components/ImageGallery";
import LongTextContent from "../components/LongText";
import DynamicList from "../components/DynamicList";
import Layout from "../layouts/Layout.astro";

import styles from "./page.module.css";
let sectorPerfResp = await fetch(
   "https://www.indiainfoline.com/cms-api/v1/public/market/sectorperformance?exchange=BSE",
);
let sectorData = await sectorPerfResp.json();
sectorData = sectorData.response.data.SectorPerformanceList.SectorPerformance;
const now = new Date();
const currentDateTime = now.toLocaleString();
---

<Layout>
   <div class="astro-home">
      <p>CURRENT TIME: {currentDateTime}</p>
      <SectorTable initialSectorRow={sectorData} />
      <LargeChart client:visible />
      <ImageGallery />
      <LongTextContent />
      <DynamicList client:visible />
   </div>
</Layout>
